@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-family: 'Roboto', sans-serif;


}

.movie-card {
    display: flex;
    align-items: center;
    height: 65vh;
    margin-top: 5rem;
    background: linear-gradient(to right, rgba(22.75%, 23.53%, 28.24%, 1.00) 150px, rgba(22.75%, 23.53%, 28.24%, 0.84) 100%),
url("../images/background.jpeg");
    background-size: cover;
}
.movie-poster-container {
    height: 85%;
    width: 30%;
    text-align: right;
    /*add for animation*/
    position: relative;
    left: -50rem;
    animation: slide-from-left 3.5s ease-in-out forwards;

}
@keyframes slide-from-left {
    80% {left: 1.5rem;}
    100% {left: 0;}
}
.movie-poster {
    height: 100%;
border-radius: 5%;
margin-right: 2rem;
transition: all 1s;
cursor: pointer;
}

/*add hover effect*/
.movie-poster:hover{
    transform:  scale(1.1);
    box-shadow: 8px 8px 8px -4px rgb(142, 131, 131);
}

.movie-info-container {
    height: 100%;
    width: 70%;
    color: #fff;
    padding-top: 2rem;

}

.movie-info-container > *:not(.movie-info-title){
    opacity: 0;
    /*for animation*/
    animation: fade-in 3.5s ease-in-out forwards;
    animation-delay:  1s;
}
@keyframes fade-in{
    100%{opacity: 1;}
}

.movie-info-title {
    text-transform: capitalize;
    margin-top: 2rem;
    /*add for animation*/
    transform: translateY(-150px);
    animation: slide-from-top 3.5s ease-in-out forwards;
}

@keyframes slide-from-top {
    80%{transform: translateY(20px);}
   100%{ transform: translateY(0);}

}

.movie-genres {
    margin-top: 1.2rem;
}

.movie-rating {
    border: 1px solid #777;
    color: #777;
    padding: 0.3rem;
    border-radius: 5px;

}

.movie-duration {
margin-left: 1rem;
letter-spacing: 0.1rem;

}

.movie-duration:before {
    content: "\2022";
}

.movie-info-actions {
    font-size: 1.1rem;

}

.movie-info-actions ul {
    list-style: none;
    margin-top: 1rem;
    color: #fff;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    background-color: rgb(3, 37, 65);
    border-radius: 50%;
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;


}

.movie-info-quote {
    font-style: italic;
    color: rgba(255, 255, 255, 0.398);
    margin-top: 1rem;
    font-size: 1.2rem;
}

.movie-info-overview-title {
    margin-top: 0.5rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;


}

.movie-info-people {
    margin-top: 5rem;
    list-style: none;

}

.movie-info-people li {
display: inline-block;
margin-right: 12rem;

}

.movie-info-people li p:first-child {
    font-weight: 700;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #777;
}




